<html lang="en-gb" dir="ltr" class="uk-notouch"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>扫一扫点餐系统</title>
    <meta name="description" content="扫一扫点餐一款功能完善、插件化的点餐系统，可快速免费搭建起一套完善的餐饮店内点餐系统">
    <meta name="author" content="扫一扫点餐系统">

    <meta name="keywords" content="点餐,微信点餐,平板点餐,点餐支付,餐厅管理,餐厅占餐,免费餐饮，餐饮系统，餐饮软件,免费点餐,点餐软件,点餐系统,好用的点餐">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="http://www.getuikit.net/docs/images/apple-touch-icon.png">
    <link id="data-uikit-theme" rel="stylesheet" href="http://www.getuikit.net/docs/css/uikit.docs.min.css">
    <link rel="stylesheet" href="http://www.getuikit.net/docs/css/docs.css">
    <link rel="stylesheet" href="http://www.getuikit.net/vendor/highlight/highlight.css">
    <script src="https://hm.baidu.com/hm.js?812601e3e7446047a37d28240bb3c3c8"></script>
    <script src="http://www.getuikit.net/vendor/jquery.js"></script>
    <script src="http://www.getuikit.net/docs/js/uikit.min.js"></script>
    <script src="http://www.getuikit.net/vendor/highlight/highlight.js"></script>
    <script src="http://www.getuikit.net/docs/js/docs.js"></script>
</head>

<body class="tm-background">

<nav class="tm-navbar uk-navbar uk-navbar-attached">
    <div class="uk-container uk-container-center">

        <a class="uk-navbar-brand uk-hidden-small" href="/"><img class="uk-margin uk-margin-remove" src="/logo.png" width="50" height="50" title="坊味" alt="坊味"></a>

        <ul class="uk-navbar-nav uk-hidden-small">
            <li><a href="#try">演示体验</a></li>
            <li><a href="#price">版本说明</a></li>
        </ul>

        <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
        <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><img src="/logo.png" width="90" height="30" title="坊味" alt="UIkit"></div>

    </div>
</nav>

<div class="tm-section tm-section-color-1 tm-section-colored">
    <div class="uk-container uk-container-center uk-text-center">
        <img class="tm-logo" src="/logo.png" width="281" height="217" title="UIkit" alt="扫一扫点餐">
        <p class="uk-text-large">一款轻量级、模块化的点餐系统<br class="uk-hidden-small"> 像搭积木一样快速构建强大的餐厅点餐系统</p>
        <a class="uk-button tm-button-download" href="#try">开始体验</a>
    </div>
</div>

<div class="tm-section tm-section-color-2 tm-section-colored">
    <div class="uk-container uk-container-center uk-text-center">

        <h1 class="uk-heading-large">特点</h1>

        <p class="uk-text-large">简单易操作的积木搭建方式构建，<br class="uk-hidden-small"> 它们使用简单，容易定制和扩展。</p>

        <div class="uk-grid" data-uk-grid-margin="">

            <div class="uk-width-medium-1-4 uk-row-first">
                <div class="uk-panel">
                    <img class="tm-image-pull" src="http://www.getuikit.net/docs/images/icon_responsive.svg" width="200" height="140" alt="Responsive">
                    <h2 class="uk-margin-top-remove">智能</h2>
                    <p>点餐流程实现智能化，让客人舒心的同时也让餐厅大大节约成本</p>
                </div>
            </div>

            <div class="uk-width-medium-1-4">
                <div class="uk-panel">
                    <img class="tm-image-pull" src="http://www.getuikit.net/docs/images/icon_less.svg" width="200" height="140" alt="Themes">

                    <h2 class="uk-margin-top-remove">粉丝</h2>
                    <p>建立自己的公众号粉丝群,粉丝数据完全自己掌握，拒绝给别人的平台作嫁衣</p>
                </div>
            </div>

            <div class="uk-width-medium-1-4">
                <div class="uk-panel">

                    <img class="tm-image-pull" src="http://www.getuikit.net/docs/images/icon_components.svg" width="200" height="140" alt="LESS">
                    <h2 class="uk-margin-top-remove">营销</h2>
                    <p>丰富的营销插件，让您的营销能力不断升级</p>
                </div>
            </div>

            <div class="uk-width-medium-1-4">
                <div class="uk-panel">
                    <img class="tm-image-pull" src="http://www.getuikit.net/docs/images/icon_themes.svg" width="200" height="140" alt="Components">

                    <h2 class="uk-margin-top-remove">便捷</h2>
                    <p>餐厅+互联网，随时随地查看店内数据，掌控经营情况</p>
                </div>
            </div>

        </div>

    </div>
</div>



<div class="tm-section tm-section-color-white">
    <div class="uk-container uk-container-center uk-text-center">
        <a href="#" name="try"></a>
        <h1 class="tm-margin-large-bottom">测试地址</h1>

        <div>

            <p><h3>使用说明书：<a href="https://shimo.im/docs/XKKwCjWpwcrjQqPr">点我查看</a></h3></p>
            <p>平台后台：host/admin/index.html/#/superAdmin/login</p>
            <p>帐号:admin  密码:888888</p>
            <p>总部后台：host/admin/index.html/#/mainStore/login</p>
            <p>帐号:由平台后台创建</p>
            <br>
            <p>分店后台：host/admin/index.html/#/store/login</p>
            <p>帐号：由总部后台创建</p>
            <br>
            <p>店员后台：http://www.fangwei6.com/admin/index.html/#/storeUser/login</p>
            <p>帐号：由分店后台创建</p>
            <br>
            <p>客户点餐</p>
            <p>进入分店后台->店内管理->餐桌管理->二维码展示->用微信扫码体验点餐</p>
            <p>或者直接用微信扫下面的二维码体验</p>
            <p><img src="http://www.fangwei6.com/api/common/qrCode?content=http%3A%2F%2Fqc.fangwei6.com%2Ftable%2F180745e06ccac17de188c262befc7e80"></p>
            <br>

            <p>系统定制电话：13710124580</p>
        </div>

    </div>
</div>

</div>

<div class="tm-footer">
    <div class="uk-container uk-container-center uk-text-center">


        <div class="uk-panel">
            <!--<p>版权所有 178277164@qq.com Copyright @ 2019 - 2099</p>-->
            <p>Copyright @ 2019 - 2099</p>
        </div>

    </div>
</div>



</body></html>